<div class="header-wrapper" ng-controller="HeaderController">

  <div class="banner">
    <img alt="WeFooz Logo" align="center" class="banner-img" src="modules/core/client/img/brand/TheIInTeam.svg">
  </div>

  <div class="navbar-container">
    <div class="navbar-item-wrapper">
      <a href="http://humanfoosball.com/">
        <img  class="navbar-item" src="modules/core/client/img/buttons/HomeButton.svg" alt="Home">
      </a>
      <span class="navbar-item-tooltip">weFooz home
      </span>
    </div>
    <div class="navbar-item-wrapper">
      <img  class="navbar-item" src="modules/core/client/img/buttons/ReStart.svg" alt="Restart" ui-sref="home">
      <span class="navbar-item-tooltip">Start over
      </span>
    </div>
    <div class="navbar-item-wrapper" ng-click="showPrevTourn()">
      <img  class="navbar-item" src="modules/core/client/img/buttons/History.svg" alt="Previous">
      <span class="navbar-item-tooltip">Tournaments
      </span>
    </div>
  </div>

  <div ng-class="prevPopup" class="prevWrapper">
    <h2 align="center">PREVIOUS TOURNAMENTS</h2>
      <div ng-controller="HomeController" ng-init="initLocalCache()" >
          <table class="table-striped prevTable">
          <tr ng-repeat="tournament in tournaments">
            <td class="resumeTournament" ng-click="resumeTourney($index); showPrevTourn(); updateLeaderboard()" ui-sref="IinTeamView" ui-sref-opts="{reload: true}">{{tournament.name}}</td>
            <td><button class="deleteTournament" ng-click="deleteTournament($index); updateTournaments()">DELETE</button></td>
          </tr>
        </table>
      </div>
  </div>
</div>
