<section ng-app='core' ng-controller="BracketsController">

  <div class="leaderboardWrapper">
    <h2 class="tableLabel">LEADERBOARD</h2>
    <table class="table-striped leaderboardTable">
      <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Points</th>
        <th>Diff</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Games</th>
      </tr>
      <tr ng-repeat="player in playerList">
        <td>{{$index + 1}}</td>
        <td>{{player.name}}</td>
        <td>{{player.points}}</td>
        <td>{{player.differential}}</td>
        <td>{{player.wins}}</td>
        <td>{{player.losses}}</td>
        <td>{{player.gamesPlayed}}</td>
      </tr>
    </table>
  </div>

  <div class="tournamentWrapper">
  <h2 align="center" class="tableLabel">{{ tournamentInfo[0]}}</h2>
    <table class="roundsTable">
      <tr>
        <td class="round_number">{{$index + 1}}</td>
        <td class="round">
          <table class="alt_color">
            <tr>
              <td>
                <table class="table_striped tiny_table">
                  <tr ng-repeat="player in teamOne">
                    <td>{{player.name}}</td>
                  </tr>
                </table>
              </td>
              <td class="score_input">
                <p>enter score</p>
                <input type=number ng-value=0 ng-model="teamAScore">
                <span class="colon">:</span>
                <input type=number ng-value=0 ng-model="teamBScore">
              </td>
              <td>
                <table class="table_striped tiny_table">
                  <tr ng-repeat="player in teamTwo">
                    <td>{{player.name}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="round_number">{{$index + 1}}</td>
        <td class="round">
          <table class="alt_color">
            <tr>
              <td>
                <table class="table_striped tiny_table">
                  <tr ng-repeat="player in teamOne">
                    <td>{{player.name}}</td>
                  </tr>
                </table>
              </td>
              <td class="score_input">
                <p>enter score</p>
                <input type=number ng-value=0 ng-model="teamAScore">
                <span class="colon">:</span>
                <input type=number ng-value=0 ng-model="teamBScore">
              </td>
              <td>
                <table class="table_striped tiny_table">
                  <tr ng-repeat="player in teamTwo">
                    <td>{{player.name}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <button ng-click="splitTeams()">Generate Round {{$index + 1}}</button>
  <button ng-click='results()'> Submit Scores</button>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
  <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
</section>
