
<section ng-controller="Tournament1Controller">



  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/client/img/brand/tempfoozLogo.png" />
      </div>
    </div>
  </div>
  <div>

  <h1 align="center">Tournament Style One</h1>
  <h2 align="center">Settings</h2>

  <div class="rules">
    <h3>Tournament Rules<h3>
      <p>


      </p>
  </div>


<form name="tournamentstyle1" class="tournament1CreationForm">
  <fieldset>
    <div class="TOneCreationForm-group" show-errors align="center">
      <input type="checkbox" name="scoreWin">Play With Score Limit<br>
      <input type="checkbox" name="timeWin">Play With Time Limit<br>
      <input type="number"  name="numGoals">Goals to Win<br>
      <input type="number"  name="numPoints">Points for Winning<br>
      <input type="number"  name="pointsForDraw">Points for a Tie<br>
      <button  name="AddPlayers">Add Players!<br>

    </div>
  </fieldset>

</form>

</section>

  <h1 align="center">New Tournament</h1>

