
<section ng-controller="Tournament1Controller">

  <div class="new-tournament-body">

    <h1 align="center" class="new-tournament-name">Tournament Style One</h1>
    <h2 align="center">Settings</h2>

  <div class="rules">
    <h3>Tournament Rules<h3>
      <p>


      </p>
  </div>


<form name="tournamentstyle1" class="tournament1CreationForm">
  <fieldset>
    <div class="TOneCreationForm-group" show-errors align="center">
      <input type="number"  name="numGoals">Goals to Win<br>
      <input type="number"  name="numPoints">Points for Winning<br>
      <input type="number"  name="pointsForDraw">Points for a Tie<br>
      <button ui-sref="PlayerList" name="AddPlayers">Add Players!<br>

    </div>
  </fieldset>

</form>

</section>
